.work-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.work-title {
    position: relative;
    max-width: 420px;
}

.work-title::after {
    content:" ";
    height: 2px;
    width: 200px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.work-wrapper {
    display: grid;
    grid-template-columns: 150px 600px;
    min-height: 300px;
}

.experience-ctn {
    padding-left: 2vw;
}

.tech-ctn {
    display: flex;
}