.work-section {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5dc;
}

.work-title {
    position: relative;
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
}

.work-wrapper {
    display: grid;
    grid-template-columns: 150px 600px;
    min-height: 300px;
}

.experience-ctn {
    padding-left: 2vw;
    padding-right: 2vw;
    color: black;
}

.experience-info, .experience-title {
    font-family: "Nunito Sans", sans-serif;
}

.experience-info {
    /* font-size: 20px; */
    font-size: 1.4vh;
}

.tech-chip {
    margin: 2px;
}

@media screen and (max-height: 920px) {
    .work-section {
        height: 100vh;
        width: 100vw;
    }

    .experience-info {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .work-wrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .experience-info {
        font-size: 13px;
    }
}
