.workSection {
    width: 100%;
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: #f5f5dc;
}

.workTitle {
    position: relative;
    font-family: "Nunito", sans-serif;
    margin-top: 5vh;
    font-size: 2.5rem;
}

.workWrapper {
    display: grid;
    grid-template-columns: 150px 600px;
    min-height: 300px;
}

.experienceCtn {
    padding-left: 2vw;
    padding-right: 2vw;
    color: black;
}

.experienceInfo, .experienceTitle {
    font-family: "Nunito Sans", sans-serif;
}

.experienceInfo {
    font-size: 1rem;
}

.techCtn {
    margin-bottom: 2vh;
}

.experienceDescription {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

@media screen and (max-width: 920px) {
    .workSection {
        min-height: 100vh;
        width: 100%;
    }

    .experienceInfo {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .workWrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .experienceInfo {
        font-size: 13px;
    }
}
