.work-section {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
    background-color: #f5f5dc;
}

.work-title {
    position: relative;
}

.work-wrapper {
    display: grid;
    grid-template-columns: 150px 600px;
    min-height: 300px;
}

.experience-ctn {
    padding-left: 2vw;
    padding-right: 2vw;
    color: black;
}

/* .tech-ctn {
    display: flex;
} */

.tech-chip {
    margin: 2px;
}

@media screen and (max-height: 920px) {
    .work-section {
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (max-width: 500px) {
    .work-wrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}
