.bannerSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5dc;
}

.bannerImage {
    width: 50vw;
    height: auto;
    margin-bottom: 2vh;
}

.bannerTitle {
    font-size: 3rem;
    font-family: "Nunito", sans-serif;
    color: black;
}

@media screen and (max-width: 500px) {
    .bannerImage {
        width: 70vmin;
        height: auto;
    }
}

@media screen and (max-height: 920px) {
    .bannerTitle {
        font-size: 2.5rem;
    }
}
