.projPanel-ctn {
    display: grid;
    box-shadow: 6px 6px black;
    padding: 0;
    margin-bottom: 0px;
}

.title-bar {
    background-color: white;
    border-radius: 1px;
    height: 1fr;
    font-size: large;
}

.proj-img {
    width: 30vw;
    height: auto;
}