.projectContainer a,
.projectContainer a:visited,
.projectContainer a:hover,
.projectContainer a:active {
    text-decoration-skip-ink: auto;
    color: black;
    transition: all 0.2s ease-in-out;
}

.projectContainer a:hover,
.projectContainer a:focus {
    color: #4f8f1e;
    transition: all 0.2s ease-in-out;
}

.projectContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: #0d111b;
}

.projectHeader {
    margin-top: 5vh;
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
    color: #a5b1d3;
}

.projectWrapper {
    width: 50%;
    margin-top: 1vh;
    margin-bottom: 10vh;
}

.projectInfo {
    font-family: "Nunito Sans", sans-serif;
    color: #a5b1d3;
}

.projectImg {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.projectContent {
    font-size: 1.1rem;
}

.techChip {
    margin: 4px;
}

.tabLabel {
    font-family: "Nunito", "sans serif";
    color: #a5b1d3;
}

.projectTitle {
    font-family: "Nunito", "sans serif";
    font-size: 1.8rem;
    color: #a5b1d3;
}

@media screen and (max-width: 700px) {
    .projectContent {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 500px) {
    .projectContent {
        font-size: 1rem;
    }

    .projectWrapper {
        width: 95%;
    }
}