.project-section {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-title {
    font-size: 1.4vmax;
    font-family: "Nunito", sans-serif;
}

.project-wrapper {
    display: grid;
    grid-template-columns: 150px 600px;
    min-height: 400px;
}

.project-info {
    display: relative;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: "Nunito Sans", sans-serif;
}

.card {
    border: solid grey;
    border-radius: 2px;
}

.proj-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.tab-btn {
    width: 20vw;
}

.tech-chip {
    margin: 2px;
}

@media screen and (max-width: 500px) {
    .project-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}

@media screen and (max-height: 920px) {
    .project-section {
        height: 110vh;
    }

    .project-title {
        font-size: 3vmax;
    }
}

@media screen and (max-height: 700px) {
    .project-section {
        height: 130vh;
    }

    .project-title {
        font-size: 3vmax;
    }
}

@media screen and (max-height: 500px) {
    .project-section {
        height: 160vh;
    }

    .project-title {
        font-size: 3vmax;
    }
}