.about-section {
  width: 100%;
  height: 65vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-size: 1.4vmax;
}

.content-body {
  max-width: 50%;
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skill-icon {
  margin: 2px;
}

@media screen and (max-height: 920px) {
  .about-section {
    height: 100vh;
  }
  .about-title {
    font-size: 3vmax;
  }
}

@media screen and (max-height: 700px) {
  .about-section {
    height: 120vh;
  }
  .about-title {
    font-size: 3vmax;
  }
}

@media screen and (max-height: 500px) {
  .about-section {
    height: 120vh;
  }
  .about-title {
    font-size: 3vmax;
  }
}
