.contactSection a,
.contactSection a:visited,
.contactSection a:hover,
.contactSection a:active {
    text-decoration-skip-ink: auto;
    color: black;
    transition: all 0.2s ease-in-out;
}

.contactSection a:hover,
.contactSection a:focus {
    color: #4f8f1e;
    transition: all 0.2s ease-in-out;
}

.contactSection {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: #f5f1dc;
}

.contactsWrapper {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactHeader {
    font-size: 2rem;
    font-family: "Nunito", sans-serif;
}

.contactsContent {
    font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width: 500px) {
    .contactHeader{
        font-size: 3rem;
    }

    .contactSection {
        min-height: 60vh;
    }

    .contactsWrapper {
        max-width: 80%;
    }
}
