.socialsBar a,
.socialsBar a:visited,
.socialsBar a:hover,
.socialsBar a:active {
    text-decoration-skip-ink: auto;
    color: #000;
    transition: all 0.2s ease-in-out;
}

.socialsBar a:hover,
.socialsBar a:focus {
    color: #4f8f1e;
    transition: all 0.2s ease-in-out;
}

.socialsBar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
}

.socialsBtn {
    animation: spin 0.5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 24px;
    position: relative;
}

.iconWrapper {
    position: relative;
    animation: slidein 0.5s linear;
}

.socialsIcon:hover {
    transform: scale(1.2);
}


@media screen and (max-width: 840px) {
    .socialsBar {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .socialsBar {
        margin-left: 0vw;
    }
}


@keyframes slidein {
    0% {
        transform: translatex(-84px);
    }

    50% {
        transform: translatex(-42px);
    }

    80% {
        transform: translatex(30);
    }

    100% {
        transform: translatex(0px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(190deg);
    }

    80% {
        transform: rotate(390deg);
    }

    100% {
        transform: rotate(360deg);
    }
}